<app-menuadmin></app-menuadmin>
<div class="contenedor">
    <h1>Bienvenido al panel principal</h1>

    <div class="contadores">
        <div class="contador">
            <div class="cont">
                <p>15</p>
                <p>Clínicas</p>
            </div>
        </div>
        <div class="contador">
            <div class="cont">
                <p>85</p>
                <p>Médicos</p>
            </div>
        </div>
        <div class="contador">
            <div class="cont">
                <p>5</p>
                <p>Instituciones</p>
            </div>
        </div>
    </div>
</div>
