<app-menuadmin></app-menuadmin>
<div class="contenedor">
    <h1>Bienvenido al panel principal</h1>

    <div class="contadores">
        <div class="contador">
            <div class="cont">
                <p>15</p>
                <p>Clínicas</p>
            </div>
        </div>
        <div class="contador">
            <div class="cont">
                <p>85</p>
                <p>Médicos</p>
            </div>
        </div>
        <div class="contador">
            <div class="cont">
                <p>5</p>
                <p>Instituciones</p>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Pacientes</th>
                <th>Especialidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jose Carlos</td>
                <td>14</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alberto Gonzales</td>
                <td>29</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Juan Carlos</td>
                <td>45</td>
                <td>Neumológo</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Jose Carlos</td>
                <td>14</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alberto Gonzales</td>
                <td>29</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Juan Carlos</td>
                <td>45</td>
                <td>Neumológo</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Jose Carlos</td>
                <td>14</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alberto Gonzales</td>
                <td>29</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Juan Carlos</td>
                <td>45</td>
                <td>Neumológo</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Jose Carlos</td>
                <td>14</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alberto Gonzales</td>
                <td>29</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Juan Carlos</td>
                <td>45</td>
                <td>Neumológo</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Jose Carlos</td>
                <td>14</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alberto Gonzales</td>
                <td>29</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Juan Carlos</td>
                <td>45</td>
                <td>Neumológo</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Jose Carlos</td>
                <td>14</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alberto Gonzales</td>
                <td>29</td>
                <td>Cardiólogo</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Juan Carlos</td>
                <td>45</td>
                <td>Neumológo</td>
            </tr>
        </tbody>
    </table>
</div>