<app-menuadmin></app-menuadmin>
<div class="contenedor">
    <div class="headContent">
        <h2>Listado de instituciones.</h2>
        <button class="btn btn-primary">Añadir</button>
    </div>
    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>

    <div class="grid-container-element">
        <div class="grid-child-element cardCont">
            <div class="cardHeader">
                <label class="clinica">Nombre de la institución</label>
                <label class="rfc">RFC: CLI98024CL5</label>
            </div>

            <div class="cardBody">
                <label class="puntuacion">Puntuación: 9/10</label>
                <label class="director">Tipo de institución</label>
            </div>

            <div class="cardFooter">
                <label class="direccion">Dirección</label>
                <label class="telefono">Teléfono</label>
            </div>
        </div>
        <div class="grid-child-element btnCont">
            <img src="../../../assets/icons8-edit-480.png" alt="">
            <img src="../../../assets/icons8-delete-480.png" alt="">
            <img src="../../../assets/icons8-list-90.png" alt="">
        </div>
    </div>
</div>