<app-menuadmin></app-menuadmin>
<div class="contenedor">
    <div class="headContent">
        <h2>Listado de clínicas.</h2>
        <button class="btn btn-success">Añadir</button>
    </div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Razón social</th>
                <th>Dirección</th>
                <th colspan="2">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Clínica 21</td>
                <td>Av 5. Calle 6 Colonia Centro, Córdoba.</td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Clínica 21</td>
                <td>Av 5. Calle 6 Colonia Centro, Córdoba.</td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Clínica 21</td>
                <td>Av 5. Calle 6 Colonia Centro, Córdoba.</td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Clínica 21</td>
                <td>Av 5. Calle 6 Colonia Centro, Córdoba.</td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Clínica 21</td>
                <td>Av 5. Calle 6 Colonia Centro, Córdoba.</td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Clínica 21</td>
                <td>Av 5. Calle 6 Colonia Centro, Córdoba.</td>
                <td>
                    <button class="btn btn-warning">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
